@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800);
@import url(font-awesome.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button {
  outline: 0;
  border: 0; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

* {
  box-sizing: border-box; }

@viewport {
  zoom: 1.0;
  width: extend-to-zoom; }

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0; }

.container {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box; }

.container:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.row {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1; }

.row:after {
  clear: both; }

.row:before,
.row:after {
  content: " ";
  display: table; }

* {
  box-sizing: border-box; }

[class^="span"] {
  min-height: 1px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="span"]:first-child {
  margin-left: 0; }

.span1 {
  width: 8.333333333333332%; }

.span2 {
  width: 16.666666666666664%; }

.spanfifth {
  width: 20%; }

.span3 {
  width: 25%; }

.span4 {
  width: 33.33333333333333%; }

.span5 {
  width: 41.66666666666667%; }

.span6 {
  width: 50%; }

.span7 {
  width: 58.333333333333336%; }

.span8 {
  width: 66.66666666666666%; }

.span9 {
  width: 75%; }

.span10 {
  width: 83.33333333333334%; }

.span11 {
  width: 91.66666666666666%; }

.span12 {
  width: 100%; }

.push1 {
  margin-left: 8.333333333333332%; }

.push2 {
  margin-left: 16.666666666666664%; }

.pushfifth {
  margin-left: 20%; }

.push3 {
  margin-left: 25%; }

.push4 {
  margin-left: 33.33333333333333%; }

.push5 {
  margin-left: 41.66666666666667%; }

.push6 {
  margin-left: 50%; }

.push7 {
  margin-left: 58.333333333333336%; }

.push8 {
  margin-left: 66.66666666666666%; }

.push9 {
  margin-left: 75%; }

.push10 {
  margin-left: 83.33333333333334%; }

.push11 {
  margin-left: 91.66666666666666%; }

.push12 {
  margin-left: 100%; }

[class^="m-span"] {
  padding: 10px 0;
  margin-left: .5%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="m-span"]:last-child {
  margin-right: .5%; }

.m-span1 {
  width: 5.46875%; }

.m-span2 {
  width: 16.0833333%; }

.m-span3 {
  width: 22.65625%; }

.m-span4 {
  width: 31.25%; }

.m-span5 {
  width: 39.84375%; }

.m-span6 {
  width: 48.4375%; }

.m-span7 {
  width: 57.03125%; }

.m-span8 {
  width: 65.625%; }

.m-span9 {
  width: 74.21875%; }

.m-span10 {
  width: 82.8125%; }

.m-span11 {
  width: 91.40625%; }

.m-span12 {
  width: 100%; }

body {
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background: #f7f7f7; }

.ease, a, a:hover, form input[type=submit], form textarea[type=submit], form select[type=submit], form input[type=submit]:hover, form textarea[type=submit]:hover, form select[type=submit]:hover, header #main-header #mobile-nav-btn, header #main-header #mobile-nav-btn:hover, #product #tile-tab-info #tab-faq .question-box h4, #product #tile-tab-info #tab-faq .question-box h4:hover, #clinical .clinical-previews [class^=span] .clinical-preview {
  transition: all 0.25s ease; }

.fa-custom, #product #tile-tab-info #tab-faq .question-box h4:before, #checkout .address-check label:before, #checkout .address-check input[type=checkbox]:checked + label:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1em;
  text-align: left;
  display: inline-block; }

h1 {
  color: gray;
  font-size: 2.5em;
  margin-bottom: .5em; }
  h1:last-child {
    margin-bottom: 0; }

strong {
  font-weight: 700; }

h2 {
  font-size: 1.75em;
  margin-bottom: .5em; }
  h2:last-child {
    margin-bottom: 0; }
  h2 span {
    display: inline-block; }

h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #a4509e; }

h6 span {
  display: inline-block; }

a {
  text-decoration: none; }

section {
  padding: 3em; }

.secondary-btn {
  background: #b3b3b3;
  color: white;
  padding: .5em .75em;
  display: inline-block;
  font-size: .9em; }
  .secondary-btn:hover {
    background: #999999; }

.primary-btn {
  background: #c31da2;
  color: white;
  padding: .5em .75em;
  display: inline-block;
  font-size: .9em; }
  .primary-btn:hover {
    background: #97167d; }

p {
  line-height: 1.75em;
  margin-bottom: 1em;
  color: #666666; }
  p:last-child {
    margin-bottom: 0; }

.align-right {
  text-align: right; }

.fixed-container {
  height: auto;
  overflow: hidden; }

.background-area {
  background: url("../img/wood-background.png"); }

.fixed {
  float: left; }

.fluid {
  float: none;
  width: auto;
  overflow: hidden; }

.full {
  width: 100%; }

.main-cta-btn {
  padding: 1em;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
  margin: .5em 0;
  color: white;
  background: #ed39cd; }
  .main-cta-btn:hover {
    background: #c712a7; }

.secondary-cta-btn {
  padding: .5em 1em;
  font-size: 1.6em;
  font-weight: 600;
  display: inline-block;
  color: #c31da2;
  background: white;
  border-radius: 25px; }
  .secondary-cta-btn:hover {
    background: #e6e6e6; }

.site {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column; }

.site-content {
  -ms-flex: 1;
  flex: 1; }

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%; }

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(0);
  transform: translateZ(0) translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  #site-canvas #menu-overlay {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;
    background: black;
    display: none; }

#site-wrapper.show-nav #site-canvas {
  transform: translateX(-250px);
  transform: translateZ(0) translateX(-250px);
  transform: translate3d(-250px, 0, 0); }

#menu-close {
  display: none; }

#menu-open {
  display: inline-block; }

#privacy h2, #terms h2 {
  color: #c31da2;
  margin-top: 1em;
  font-size: 1.25em; }

.unslider {
  overflow: auto;
  margin: 0;
  padding: 0; }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10; }

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none; }

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer; }

.unslider-arrow.next {
  left: auto;
  right: 20px; }

.unslider-nav ol {
  list-style: none;
  text-align: center; }

.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer; }

.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default; }

#attachment-fpc {
  padding: 3em;
  color: white;
  background: #4d4d4d;
  background-repeat: no-repeat;
  background-position-y: -10em;
  background-position-x: center;
  position: relative;
  font-size: .8em; }
  #attachment-fpc h5 {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: .5em; }
  #attachment-fpc p {
    font-size: 1.2em;
    color: white; }
  #attachment-fpc .product-image {
    position: absolute;
    width: 10.5em;
    top: -15px; }
  #attachment-fpc .offer-info {
    padding-left: 12em; }

#tile-hero {
  background: white url("../img/orchid-background-2.png");
  background-repeat: no-repeat;
  background-size: 112em;
  background-position-y: -1em;
  background-position-x: -2em; }
  #tile-hero .product-image {
    padding-left: 38%;
    display: inline-block;
    float: left;
    width: 39em; }
  #tile-hero .hero-copy {
    font-size: .9em; }
    #tile-hero .hero-copy h2 {
      color: #c31da2;
      font-weight: 700; }
      #tile-hero .hero-copy h2 span {
        display: inline-block; }

form .input-box:first-child {
  padding-right: .5em; }

form .input-box:last-child {
  padding-left: .5em; }

form .input-row {
  margin-bottom: 1em; }
  form .input-row:last-child {
    margin-bottom: 0; }

form label {
  margin-bottom: .5em;
  display: inline-block;
  color: gray;
  text-transform: uppercase; }

form input, form textarea, form select {
  padding: .5em;
  font-size: 1.25em;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  color: gray;
  outline: 0;
  border: 1px solid #cccccc;
  border-radius: 3px; }
  form input[type=submit], form textarea[type=submit], form select[type=submit] {
    background: #a4509e;
    color: white;
    border: none;
    font-size: 1em;
    font-weight: 500;
    border-radius: 25px;
    padding: .5em 2em;
    width: initial;
    min-width: initial;
    max-width: initial;
    cursor: pointer; }
    form input[type=submit]:hover, form textarea[type=submit]:hover, form select[type=submit]:hover {
      background: #823f7d; }

form textarea {
  min-height: 12em; }

.alert {
  padding: 1em;
  margin-bottom: 1em; }
  .alert ul {
    margin-left: 1em; }
    .alert ul li {
      margin-bottom: .5em;
      list-style-type: disc; }
      .alert ul li:last-child {
        margin-bottom: 0; }
  .alert.alert-danger {
    border: 1px solid red;
    background: #ffcccc; }
  .alert.alert-success {
    border: 1px solid green;
    background: #e6ffe6; }

select {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0;
  outline: 0;
  color: #cccccc;
  border: 0;
  background-image: url("../img/dropdown-icon.png");
  background-position: 95% center;
  background-repeat: no-repeat;
  padding-right: 2em; }

header #sub-header {
  padding: 0.75em;
  font-size: 0.8em; }
  header #sub-header nav {
    text-align: right; }
    header #sub-header nav ul li {
      display: inline-block;
      margin-right: 1.5em; }
      header #sub-header nav ul li a {
        color: gray; }
        header #sub-header nav ul li a:hover {
          color: #333333; }
        header #sub-header nav ul li a i {
          margin-right: 0.25em; }
      header #sub-header nav ul li:last-child {
        margin-right: 0; }

header #main-header {
  padding: 0.6em;
  background: #c31da2; }
  header #main-header .logo img {
    width: 17em; }
  header #main-header #mobile-nav {
    width: 250px;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    right: -250px;
    background: #e6e6e6;
    padding: 1.5em;
    color: #f2f2f2;
    box-shadow: inset 8px 0px 12px -6px #000; }
    header #main-header #mobile-nav .cart {
      color: #c31da2;
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid gray; }
      header #main-header #mobile-nav .cart i {
        margin-right: .25em; }
      header #main-header #mobile-nav .cart a {
        color: #c31da2;
        border: 1px solid #c31da2;
        padding: .5em;
        margin-top: .5em;
        display: block;
        text-align: center; }
        header #main-header #mobile-nav .cart a:hover {
          background: #c31da2;
          color: white; }
    header #main-header #mobile-nav ul li {
      margin-bottom: .5em;
      display: block; }
      header #main-header #mobile-nav ul li a {
        color: #c31da2;
        display: block;
        padding: .5em; }
        header #main-header #mobile-nav ul li a.active-nav {
          background: #c31da2;
          color: white; }
  header #main-header #mobile-nav-btn {
    display: none;
    color: white;
    background: none;
    font-size: 1em;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 98; }
    header #main-header #mobile-nav-btn i {
      font-size: 1.8em;
      margin-left: 12px; }
    header #main-header #mobile-nav-btn span {
      position: absolute;
      top: 5px;
      left: -55px;
      font-size: 1.2em;
      font-weight: 700; }
  header #main-header #desktop-nav {
    text-align: right;
    margin-top: .3em; }
    header #main-header #desktop-nav ul li {
      display: inline-block;
      font-weight: 300;
      margin-right: -5px; }
      header #main-header #desktop-nav ul li.accent-nav {
        overflow: visible; }
        header #main-header #desktop-nav ul li.accent-nav a {
          color: #ed39cd;
          background: white;
          font-weight: 700; }
          header #main-header #desktop-nav ul li.accent-nav a:hover {
            background: #f7f7f7;
            color: #97167d; }
      header #main-header #desktop-nav ul li:last-child {
        margin-right: 0; }
      header #main-header #desktop-nav ul li a {
        padding: .65em .75em;
        color: white; }
        header #main-header #desktop-nav ul li a:hover {
          background: #ad1a90; }
        header #main-header #desktop-nav ul li a.active-nav {
          background: #97167d; }

footer #main-footer {
  padding: 2em;
  background: #c31da2; }
  footer #main-footer #contact-info {
    float: right; }
    footer #main-footer #contact-info span {
      font-weight: 700;
      margin-bottom: .75em;
      color: white;
      font-size: .8em;
      display: inline-block; }
    footer #main-footer #contact-info a {
      color: white; }
      footer #main-footer #contact-info a:hover {
        color: #cccccc; }
      footer #main-footer #contact-info a i {
        margin-right: .5em; }
    footer #main-footer #contact-info ul li {
      margin-bottom: .5em;
      font-size: .9em;
      font-weight: 300; }
      footer #main-footer #contact-info ul li:last-child {
        margin-bottom: 0; }
  footer #main-footer nav ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    footer #main-footer nav ul li {
      font-size: 0.8em;
      text-transform: uppercase;
      margin-bottom: 0.75em;
      font-weight: 700;
      color: white; }
      footer #main-footer nav ul li:last-child {
        margin-bottom: 0; }
      footer #main-footer nav ul li a {
        color: white; }
        footer #main-footer nav ul li a:hover {
          color: #cccccc; }

footer #sub-footer {
  padding: 1em;
  font-size: .8em;
  color: gray; }
  footer #sub-footer .disclaimer-text {
    margin-top: 1em; }
    footer #sub-footer .disclaimer-text p {
      font-weight: 300;
      font-size: .6em;
      margin-bottom: .25em;
      color: #b3b3b3; }
      footer #sub-footer .disclaimer-text p:last-child {
        margin-bottom: 0; }
  footer #sub-footer span.copy {
    display: inline-block;
    float: right; }
  footer #sub-footer ul {
    display: inline-block; }
    footer #sub-footer ul li {
      margin-right: 1em;
      padding-right: 1em;
      border-right: 1px solid gray;
      display: inline-block; }
      footer #sub-footer ul li i {
        margin: 0 .5em; }
      footer #sub-footer ul li:last-child {
        margin-right: 0;
        border-right: 0;
        padding-right: 0; }
      footer #sub-footer ul li a {
        color: gray; }
        footer #sub-footer ul li a:hover {
          color: #c31da2; }

@media screen and (max-width: 1200px) {
  #tile-hero {
    background-size: 179%;
    background-position-x: -4em; }
    #tile-hero .product-image {
      width: 13em;
      padding-left: 0;
      margin-left: 18%; } }

@media screen and (max-width: 900px) {
  #tile-hero {
    background-width: 200%; }
    #tile-hero .product-image {
      margin-left: 10%; }
  footer #main-footer [class^=span] {
    width: 50%; }
  footer #main-footer #contact-info {
    text-align: right; }
  footer #sub-footer {
    text-align: center; }
    footer #sub-footer span.copy {
      float: none;
      text-align: center;
      display: block;
      margin-top: 1.75em; } }

@media screen and (max-width: 850px) {
  header #main-header #desktop-nav {
    display: none; }
  header #main-header #mobile-nav, header #main-header #mobile-nav-btn {
    display: block; }
  header #sub-header {
    display: none; } }

@media screen and (max-width: 800px) {
  #tile-hero {
    background: url("../img/wood-background.png") !important;
    text-align: center; }
    #tile-hero .product-image {
      display: inline-block;
      text-align: center;
      width: 15em;
      margin-left: 25%; } }

@media screen and (max-width: 650px) {
  footer #main-footer [class^=span] {
    width: 100%; }
  footer #main-footer #contact-info {
    margin-top: 1em;
    text-align: left; }
  #attachment-fpc .product-image {
    top: 8px; } }

@media screen and (max-width: 600px) {
  #attachment-fpc .product-image {
    display: none; }
  #attachment-fpc .offer-info {
    padding: 0;
    text-align: center; } }

@media screen and (max-width: 500px) {
  header #main-header {
    padding-top: 3em; }
    header #main-header .logo {
      width: 100%;
      text-align: center; }
  section {
    padding: 2em 1.5em; }
  footer #sub-footer ul li {
    display: block;
    border: 0;
    margin-bottom: .75em;
    padding-right: 0;
    margin-right: 0; }
    footer #sub-footer ul li a i {
      display: block;
      font-size: 2em;
      margin-top: 1em; }
    footer #sub-footer ul li:last-child {
      margin-bottom: 0; } }

#home h1 {
  color: #a4509e;
  text-align: center;
  font-weight: 700; }
  #home h1 span {
    display: inline-block; }

#home #tile-lifestyle {
  background: url("../img/yoga-girls.png") center;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24em 0em 2em 0em; }
  #home #tile-lifestyle h1 {
    color: white;
    padding: .25em;
    font-size: 3.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.65); }

#home #tile-cta {
  text-align: center; }
  #home #tile-cta span {
    display: block;
    color: #a4509e;
    font-size: .8em;
    font-weight: 700; }
  #home #tile-cta .main-cta-btn {
    padding: 1.25em;
    font-size: 1.75em; }
  #home #tile-cta h3 {
    display: inline-block;
    text-align: left; }

#home .bullet-points {
  float: left;
  display: inline-block;
  margin-top: 6em; }
  #home .bullet-points .bullet-icon {
    background: white;
    color: #a4509e;
    border-radius: 25px;
    border: 1px solid #cccccc;
    display: inline-block;
    width: 47px;
    height: 47px;
    padding: .5em;
    margin-right: .5em;
    box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.17); }
  #home .bullet-points li {
    margin-bottom: 1.5em;
    font-weight: 600;
    color: #a4509e;
    font-size: 1.2em; }
    #home .bullet-points li:last-child {
      margin-bottom: 0; }

#home #tile-main-keypoints .container {
  padding: 0 0 0 10em; }

#home #tile-main-keypoints p {
  color: #a4509e;
  font-weight: 600; }

#home #tile-main-keypoints [class^="span"]:first-child {
  padding-right: 2em;
  border-right: 1px dashed #cccccc; }

#home #tile-main-keypoints [class^="span"]:last-child {
  padding-left: 2em;
  text-align: left; }

#home #tile-main-keypoints ul {
  margin-top: 1em; }
  #home #tile-main-keypoints ul li {
    margin-bottom: .65em;
    font-weight: 600;
    font-size: 1.25em;
    color: #ed39cd; }

#home #tile-main-keypoints .main-keypoint {
  margin-bottom: 1.5em; }
  #home #tile-main-keypoints .main-keypoint h3 {
    color: #ed39cd;
    font-size: 1.25em;
    margin-bottom: .15em; }
  #home #tile-main-keypoints .main-keypoint:last-child {
    margin-bottom: 0; }

#home #tile-clinical-keypoints p {
  color: #a4509e;
  font-weight: 600; }

#home #tile-clinical-keypoints .clinical-keypoint {
  text-align: center;
  padding: 0 2em;
  border-left: 1px solid #c31da2;
  border-right: 1px solid #c31da2; }
  #home #tile-clinical-keypoints .clinical-keypoint img.icon-tulip {
    width: 2.75em;
    margin: 0 auto;
    text-align: center; }
  #home #tile-clinical-keypoints .clinical-keypoint h4 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: .5em;
    margin-top: .5em;
    color: #a4509e; }
  #home #tile-clinical-keypoints .clinical-keypoint p strong {
    font-weight: 700; }
  #home #tile-clinical-keypoints .clinical-keypoint:first-child {
    padding-left: 0;
    border-right: 0;
    border-left: 0; }
  #home #tile-clinical-keypoints .clinical-keypoint:last-child {
    padding-right: 0;
    border-right: 0;
    border-left: 0; }

@media screen and (max-width: 1200px) {
  #home #tile-hero h1 {
    font-size: 1.75em; }
  #home .bullet-points {
    margin-top: 5em; } }

@media screen and (max-width: 1100px) {
  #home #tile-main-keypoints .container {
    padding-left: 3em; } }

@media screen and (max-width: 960px) {
  #home #tile-clinical-keypoints .clinical-keypoint {
    border: 0;
    padding: 0;
    padding-bottom: 1em;
    border-bottom: 1px dashed #cccccc;
    width: 100%;
    margin-bottom: 1em; }
    #home #tile-clinical-keypoints .clinical-keypoint:last-child {
      margin-bottom: 0;
      border: 0;
      padding-bottom: 0; }
  #home #tile-cta {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }
  #home #tile-lifestyle {
    padding-top: 26em; }
    #home #tile-lifestyle h1 {
      padding: .5em;
      font-size: 1.5em;
      line-height: 1.25em; }
      #home #tile-lifestyle h1 span {
        display: inline-block; }
  #home .background-area {
    background: none; } }

@media screen and (max-width: 800px) {
  #home #tile-hero .bullet-points {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 2em; }
  #home #tile-main-keypoints .container {
    padding-left: 0; } }

@media screen and (max-width: 625px) {
  #home #tile-main-keypoints [class^=span] {
    width: 100%; }
    #home #tile-main-keypoints [class^=span]:first-child {
      padding-right: 0;
      border: 0; }
    #home #tile-main-keypoints [class^=span]:last-child {
      padding-left: 0;
      margin-top: 1.5em;
      text-align: center; }
  #home #tile-lifestyle {
    background-position-x: -30em; } }

@media screen and (max-width: 600px) {
  #home #tile-lifestyle {
    padding-top: 37em;
    padding-bottom: 1em; } }

@media screen and (max-width: 500px) {
  #home #tile-hero .bullet-points {
    font-size: .9em; }
  #home #tile-hero .product-image {
    margin-left: 15%; } }

#product #tile-hero {
  background: url("../img/orchid-background-3.png");
  background-size: 110em;
  padding-bottom: 3.5em; }
  #product #tile-hero .product-image {
    width: 42em; }
  #product #tile-hero sup {
    font-size: .65em; }
  #product #tile-hero .hero-copy {
    font-weight: 600; }
    #product #tile-hero .hero-copy strong {
      font-weight: 900; }
  #product #tile-hero h2 {
    line-height: 1.25em; }

#product #tile-testimonials {
  position: relative;
  background: #c31da2;
  color: white;
  text-align: center;
  font-size: .9em;
  padding: 2em; }
  #product #tile-testimonials:before, #product #tile-testimonials:after {
    font-family: 'Times New Roman';
    font-size: 5em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    position: absolute; }
  #product #tile-testimonials:before {
    content: "“";
    left: 50px;
    top: 10px; }
  #product #tile-testimonials:after {
    content: "”";
    right: 50px;
    top: 10px; }
  #product #tile-testimonials h2 {
    color: white; }
  #product #tile-testimonials span {
    margin-top: 1em;
    float: right;
    font: .9em; }
  #product #tile-testimonials p {
    color: white;
    position: relative;
    margin-bottom: 0; }
  #product #tile-testimonials li {
    padding-top: 2em; }
    #product #tile-testimonials li:first-child {
      padding-top: 0; }

#product h2 {
  color: #c31da2;
  font-weight: 600; }

#product #tile-product-info ul {
  margin-left: 9em;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; }
  #product #tile-product-info ul li {
    font-size: 1em;
    margin-bottom: .5em;
    font-weight: 600;
    color: #c31da2; }
    #product #tile-product-info ul li:last-child {
      margin-bottom: 0; }

#product #tile-tab-info {
  border-top: 1px solid #d9d9d9;
  padding-bottom: 5em; }
  #product #tile-tab-info h3 {
    margin-bottom: .5em;
    margin-top: 1.5em; }
    #product #tile-tab-info h3:first-child {
      margin-top: 0; }
  #product #tile-tab-info .tab-content {
    display: none; }
  #product #tile-tab-info #tab-ingredients .ingredient {
    padding: 1.5em;
    max-height: 15em;
    color: #333333; }
    #product #tile-tab-info #tab-ingredients .ingredient img {
      width: 100%;
      border: 1px solid #e6e6e6;
      box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1); }
    #product #tile-tab-info #tab-ingredients .ingredient h4 {
      text-align: center;
      color: #c31da2;
      margin-bottom: .5em; }
  #product #tile-tab-info #tab-description {
    display: block; }
    #product #tile-tab-info #tab-description ul {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3; }
      #product #tile-tab-info #tab-description ul li {
        margin-bottom: .5em;
        color: #c31da2;
        font-weight: 600; }
  #product #tile-tab-info #tab-faq .question-box {
    margin-bottom: 1em; }
    #product #tile-tab-info #tab-faq .question-box h4 {
      background: #c31da2;
      color: white;
      padding: .5em;
      display: block;
      cursor: pointer;
      line-height: 1.5em; }
      #product #tile-tab-info #tab-faq .question-box h4:hover {
        background: #97167d; }
      #product #tile-tab-info #tab-faq .question-box h4:before {
        content: '\f0da';
        color: white; }
    #product #tile-tab-info #tab-faq .question-box:last-child {
      margin-bottom: 0; }
    #product #tile-tab-info #tab-faq .question-box p {
      padding: .25em .5em; }
    #product #tile-tab-info #tab-faq .question-box .answer {
      display: none; }
  #product #tile-tab-info #tab-faq [class^=span]:first-child {
    padding-right: 1.5em; }
  #product #tile-tab-info #tab-faq [class^=span]:last-child {
    padding-left: 1.5em; }
  #product #tile-tab-info #tab-faq p {
    margin-top: 1em; }

#product #product-info-tabs {
  background: white;
  margin-bottom: -2px;
  padding-top: 1em; }
  #product #product-info-tabs nav ul li {
    display: inline-block;
    margin-right: 1em;
    padding: .75em; }
    #product #product-info-tabs nav ul li.current {
      background: #f7f7f7;
      border: 1px solid #d9d9d9;
      border-bottom: 0; }
    #product #product-info-tabs nav ul li a {
      color: #a4509e; }

#product #tile-product-options {
  padding-top: 6em; }
  #product #tile-product-options .product-option {
    display: inline-block;
    float: left;
    margin-right: 2%;
    width: 23.5%;
    text-align: center; }
    #product #tile-product-options .product-option form button.atc-btn {
      display: inline-block;
      margin-top: 1em;
      color: white;
      background: #c31da2;
      padding: .5em 1em;
      border-radius: 25px;
      font-weight: 600;
      font-size: 1em; }
      #product #tile-product-options .product-option form button.atc-btn:hover {
        background: #ad1a90; }
    #product #tile-product-options .product-option .product-wrapper {
      background: white;
      position: relative;
      padding: 5em 0 1em;
      color: #666666;
      box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1); }
    #product #tile-product-options .product-option:last-child {
      margin-right: 0; }
    #product #tile-product-options .product-option .product-image {
      position: absolute;
      top: -3.55em;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      #product #tile-product-options .product-option .product-image img {
        height: 8em; }
    #product #tile-product-options .product-option .product-name {
      font-weight: 600; }
    #product #tile-product-options .product-option .product-price {
      padding: .5em 1.5em .25em 1.5em;
      font-size: 2em; }
    #product #tile-product-options .product-option .product-banner {
      background: #c31da2;
      padding: .5em;
      color: white;
      margin: 1em 0; }
      #product #tile-product-options .product-option .product-banner.no-banner {
        background: none;
        color: #666666; }
    #product #tile-product-options .product-option .product-more {
      font-size: .9em; }
      #product #tile-product-options .product-option .product-more.special a {
        color: #666666; }
      #product #tile-product-options .product-option .product-more a {
        color: #999999;
        text-decoration: underline; }
        #product #tile-product-options .product-option .product-more a:hover {
          color: #b3b3b3; }

@media screen and (max-width: 1200px) {
  #product #tile-product-options .product-option {
    width: 49%; }
    #product #tile-product-options .product-option:nth-child(2), #product #tile-product-options .product-option:last-child {
      margin-right: 0; }
    #product #tile-product-options .product-option:nth-child(3), #product #tile-product-options .product-option:last-child {
      margin-top: 5em; }
  #product #product-info-tabs .tabs {
    text-align: center; }
  #product #tile-hero .product-image {
    width: 13em;
    display: block;
    margin-left: 35%; }
  #product #tile-hero .hero-copy {
    width: 100%;
    display: block;
    margin-top: 2em; } }

@media screen and (max-width: 1050px) {
  #product #tile-product {
    text-align: center; }
    #product #tile-product .product-image {
      display: none; }
    #product #tile-product .product-info {
      width: 100%; }
  #product #product-options .product-option:nth-child(2), #product #product-options .product-option:last-child {
    margin-right: 0; } }

@media screen and (max-width: 950px) {
  #product #tile-product-info ul {
    margin-left: 0; } }

@media screen and (max-width: 850px) {
  #product #tile-tab-info #tab-faq [class^=span] {
    width: 100%; }
    #product #tile-tab-info #tab-faq [class^=span]:first-child {
      padding-right: 0;
      margin-bottom: 1em; }
    #product #tile-tab-info #tab-faq [class^=span]:last-child {
      padding-left: 0; } }

@media screen and (max-width: 800px) {
  #product #tile-product-options .product-option {
    width: 100%;
    margin-top: 5em; }
    #product #tile-product-options .product-option:first-child {
      margin-top: 0; }
  #product #tile-tab-info #tab-ingredients .ingredient {
    max-height: none;
    width: 100%; } }

@media screen and (max-width: 775px) {
  #product #tile-product #product-options form {
    width: 100%; }
    #product #tile-product #product-options form button {
      width: 100%; } }

@media screen and (max-width: 700px) {
  #product #product-info-tabs .tabs li {
    font-size: .8em;
    margin-right: .25em; } }

@media screen and (max-width: 650px) {
  #product #tile-product-info {
    padding-bottom: 3em; }
  #product #tile-hero .product-image {
    margin-left: 20%; } }

@media screen and (max-width: 500px) {
  #product #tile-product #product-options .product-option {
    width: 100%;
    margin: 0;
    margin-bottom: 1em; }
  #product #product-info-tabs nav ul li.current {
    background: #c31da2;
    border: 0; }
    #product #product-info-tabs nav ul li.current a {
      color: white; } }

#clinical #tile-clinical-previews {
  padding: 1em 3em; }

#clinical h2 {
  color: #c31da2;
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.25em; }

#clinical #tile-clinical-info ul {
  margin: 1.5em 0;
  margin-left: 11em;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; }
  #clinical #tile-clinical-info ul li {
    margin-bottom: .5em;
    font-weight: 600;
    color: #c31da2; }

#clinical section#tile-hero {
  padding-bottom: 3em;
  background: url("../img/orchid-background-3.png");
  border-bottom: 1px solid #ededed;
  background-size: 110em; }
  #clinical section#tile-hero .product-image {
    width: 42em; }
  #clinical section#tile-hero .hero-copy {
    font-weight: 600; }
    #clinical section#tile-hero .hero-copy strong {
      font-weight: 900; }

#clinical .clinical-previews [class^=span] {
  padding: 1em; }
  #clinical .clinical-previews [class^=span] .clinical-preview {
    text-align: center; }
    #clinical .clinical-previews [class^=span] .clinical-preview img {
      width: 100%; }
    #clinical .clinical-previews [class^=span] .clinical-preview button {
      width: 100%;
      padding: .75em 1em;
      cursor: pointer;
      font-size: 1.25em; }

#clinical .clinical-mainpoint-bar {
  padding: 2em 3em;
  padding-bottom: 4em;
  text-align: center;
  color: #c31da2;
  font-size: 1.1em;
  font-weight: 600; }
  #clinical .clinical-mainpoint-bar h6 {
    line-height: 1.5em;
    font-size: 1.25em; }

@media screen and (max-width: 1200px) {
  #clinical section#tile-hero .product-image {
    width: 12em;
    display: block;
    margin-left: 25%; }
  #clinical section#tile-hero .hero-copy {
    width: 100%;
    display: block;
    margin-top: 2em; }
  #clinical #tile-clinical-info ul {
    margin-left: 0; } }

@media screen and (max-width: 900px) {
  #clinical #tile-clinical-info ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
  #clinical .clinical-previews [class^=span] {
    width: 100%;
    padding: 0 5em;
    margin-bottom: 1.5em; }
    #clinical .clinical-previews [class^=span]:last-child {
      margin-bottom: 0; } }

@media screen and (max-width: 800px) {
  #clinical section#tile-hero {
    padding-bottom: 2em; }
    #clinical section#tile-hero .product-image {
      display: none; } }

@media screen and (max-width: 600px) {
  #clinical .clinical-previews [class^=span] {
    padding: 0; }
  #clinical #tile-clinical-info ul {
    margin-left: 0;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    text-align: center;
    border-top: 1px solid #c31da2;
    border-bottom: 1px solid #c31da2;
    padding: 1em 0; }
    #clinical #tile-clinical-info ul li:last-child {
      margin-bottom: 0; } }

#buy #attachment-fpc {
  padding-bottom: 6em; }

#buy .guarantee-banner {
  padding: .75em;
  color: white;
  background: #c31da2;
  text-align: center;
  font-size: 1.75em;
  font-weight: 600;
  margin-top: 2em; }

#buy #tile-product-options {
  padding-top: 6em; }
  #buy #tile-product-options .product-option {
    display: inline-block;
    float: left;
    margin-right: 2%;
    width: 23.5%;
    text-align: center; }
    #buy #tile-product-options .product-option form button.atc-btn {
      display: inline-block;
      margin-top: 1em;
      color: white;
      background: #c31da2;
      padding: .5em 1em;
      border-radius: 25px;
      font-weight: 600;
      font-size: 1em; }
      #buy #tile-product-options .product-option form button.atc-btn:hover {
        background: #ad1a90; }
    #buy #tile-product-options .product-option .product-wrapper {
      background: white;
      position: relative;
      padding: 5em 0 1em;
      color: #666666;
      box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1); }
    #buy #tile-product-options .product-option:last-child {
      margin-right: 0; }
    #buy #tile-product-options .product-option .product-image {
      position: absolute;
      top: -3.55em;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      #buy #tile-product-options .product-option .product-image img {
        height: 8em; }
    #buy #tile-product-options .product-option .product-name {
      font-weight: 600; }
    #buy #tile-product-options .product-option .product-price {
      padding: .5em 1.5em .25em 1.5em;
      font-size: 2em; }
    #buy #tile-product-options .product-option .product-banner {
      background: #c31da2;
      padding: .5em;
      color: white;
      margin: 1em 0; }
      #buy #tile-product-options .product-option .product-banner.no-banner {
        background: none;
        color: #666666; }
    #buy #tile-product-options .product-option .product-more {
      font-size: .9em; }
      #buy #tile-product-options .product-option .product-more.special a {
        color: #666666; }
      #buy #tile-product-options .product-option .product-more a {
        color: #999999;
        text-decoration: underline; }
        #buy #tile-product-options .product-option .product-more a:hover {
          color: #b3b3b3; }

@media screen and (max-width: 1200px) {
  #buy #tile-product-options .product-option {
    width: 49%; }
    #buy #tile-product-options .product-option:nth-child(2), #buy #tile-product-options .product-option:last-child {
      margin-right: 0; }
    #buy #tile-product-options .product-option:nth-child(3), #buy #tile-product-options .product-option:last-child {
      margin-top: 5em; }
  #buy #product-info-tabs .tabs {
    text-align: center; }
  #buy #tile-hero .product-image {
    width: 13em;
    display: block;
    margin-left: 35%; }
  #buy #tile-hero .hero-copy {
    width: 100%;
    display: block;
    margin-top: 2em; } }

@media screen and (max-width: 1050px) {
  #buy #tile-product {
    text-align: center; }
    #buy #tile-product .product-image {
      display: none; }
    #buy #tile-product .product-info {
      width: 100%; }
  #buy #product-options .product-option:nth-child(2), #buy #product-options .product-option:last-child {
    margin-right: 0; } }

@media screen and (max-width: 950px) {
  #buy #tile-product-info ul {
    margin-left: 0; } }

@media screen and (max-width: 850px) {
  #buy #tile-tab-info #tab-faq [class^=span] {
    width: 100%; }
    #buy #tile-tab-info #tab-faq [class^=span]:first-child {
      padding-right: 0;
      margin-bottom: 1em; }
    #buy #tile-tab-info #tab-faq [class^=span]:last-child {
      padding-left: 0; } }

@media screen and (max-width: 800px) {
  #buy #tile-product-options .product-option {
    width: 100%;
    margin-top: 5em; }
    #buy #tile-product-options .product-option:first-child {
      margin-top: 0; } }

@media screen and (max-width: 775px) {
  #buy #tile-product #product-options form {
    width: 100%; }
    #buy #tile-product #product-options form button {
      width: 100%; } }

@media screen and (max-width: 500px) {
  #buy #tile-product #product-options .product-option {
    width: 100%;
    margin: 0;
    margin-bottom: 1em; } }

#contact #tile-contact {
  padding-bottom: 5em; }

#contact aside {
  padding-left: 2em; }
  #contact aside h3 {
    margin-bottom: .5em; }
  #contact aside .row {
    margin-bottom: 1em; }
  #contact aside .contact-info a {
    display: block;
    margin-bottom: .5em;
    color: #666666; }
    #contact aside .contact-info a:hover {
      color: #c31da2; }
    #contact aside .contact-info a i {
      padding-right: .5em; }
  #contact aside ul.social-icons li.social-icon {
    display: inline-block;
    margin-right: .5em;
    color: white;
    background: #c31da2;
    text-align: center;
    width: 2em;
    padding: .5em 0; }
    #contact aside ul.social-icons li.social-icon i {
      color: white; }
    #contact aside ul.social-icons li.social-icon:hover {
      background: #97167d; }

#contact .form-area {
  padding-right: 2em;
  border-right: 1px dashed #cccccc; }

@media screen and (max-width: 750px) {
  #contact #tile-contact aside, #contact #tile-contact .form-area {
    width: 100%;
    border: 0;
    padding: 0; }
  #contact #tile-contact aside {
    margin-top: 2em;
    text-align: center; }
  #contact .btn-row {
    text-align: center; } }

@media screen and (max-width: 650px) {
  #contact #tile-contact {
    padding-bottom: 3em; } }

@media screen and (max-width: 500px) {
  #contact #tile-contact {
    padding-bottom: 1em; } }

#cart #tile-cart {
  padding-bottom: 7em; }

#cart input {
  width: 100%;
  font-size: 1.05em;
  padding: .15em; }

#cart .cart-header {
  background: #c31da2;
  color: white;
  padding: .5em .75em;
  margin-bottom: 1em; }

#cart .cart-item {
  padding: .5em;
  border: 1px solid #d9d9d9;
  display: block;
  background: white;
  position: relative;
  margin-bottom: .5em; }
  #cart .cart-item [class^=span] {
    height: 2.75em;
    padding: .5em;
    border-right: 1px solid #d9d9d9;
    padding-left: .5em; }
    #cart .cart-item [class^=span]:last-child {
      border-right: 0; }
  #cart .cart-item .item-price {
    border-right: 0; }
  #cart .cart-item .remove-btn {
    position: absolute;
    right: -18px;
    top: 21px;
    border-right: 0;
    cursor: pointer; }
    #cart .cart-item .remove-btn:hover {
      color: red; }

#cart .item-price {
  text-align: right; }

#cart .cart-totals {
  margin-top: 1em;
  padding-top: 1em;
  text-align: right;
  border-top: 1px solid #cccccc;
  margin-bottom: 2em; }
  #cart .cart-totals div {
    margin-bottom: .5em; }
    #cart .cart-totals div.cart-total {
      font-size: 1.25em;
      font-weight: 600; }

#cart .left-btns {
  float: left;
  display: inline-block; }

#cart .right-btns {
  float: right;
  display: inline-block; }

@media screen and (max-width: 800px) {
  #cart .item-desc {
    display: none; }
  #cart .item-name {
    width: 66.66666666666666%; }
  #cart .item-qty {
    width: 16.666666666666664%; }
  #cart .item-price {
    width: 16.666666666666664%; } }

@media screen and (max-width: 600px) {
  #cart #tile-cart {
    padding-bottom: 3em; } }

@media screen and (max-width: 525px) {
  #cart .item-name {
    width: 50%; }
  #cart .item-qty {
    width: 25%; }
  #cart .item-price {
    width: 25%; } }

@media screen and (max-width: 500px) {
  #cart #tile-cart {
    padding-bottom: 1em; }
  #cart .left-btns, #cart .right-btns, #cart .secondary-btn, #cart .primary-btn {
    width: 100%; }
  #cart .secondary-btn, #cart .primary-btn {
    margin-bottom: 1em;
    text-align: center; } }

#checkout input, #checkout select {
  font-size: 1em; }

#checkout select {
  background-color: white; }

#checkout h3 {
  color: #c31da2;
  margin-bottom: 1em;
  padding-bottom: .25em; }

#checkout #tile-cart {
  background: white; }
  #checkout #tile-cart .cart-items {
    margin: 2em 0; }
    #checkout #tile-cart .cart-items .cart-item {
      display: block;
      margin-bottom: 1em;
      border-bottom: 2px solid #e6e6e6;
      padding-bottom: 1em; }
      #checkout #tile-cart .cart-items .cart-item .item-price {
        text-align: right; }
      #checkout #tile-cart .cart-items .cart-item .item-qty {
        text-align: right; }

#checkout #shipping-info {
  margin-top: 1em;
  display: none; }

#checkout .address-check {
  margin-top: 1em; }
  #checkout .address-check label {
    display: inline;
    cursor: pointer;
    padding: .65em;
    padding-left: 0; }
    #checkout .address-check label:before {
      margin-right: 0.5em;
      content: "\f096"; }
  #checkout .address-check input[type=checkbox] {
    display: none;
    cursor: pointer; }
  #checkout .address-check input[type=checkbox]:checked + label {
    color: #5e5e5e;
    font-weight: 500; }
    #checkout .address-check input[type=checkbox]:checked + label:before {
      color: #5e5e5e;
      content: "\f046"; }

#checkout #tile-checkout-info .billing-shipping-info {
  padding-right: 2em;
  border-right: 1px solid #cccccc; }

#checkout #tile-checkout-info .payment-info {
  padding-left: 2em; }

#checkout #tile-checkout-info .input-row {
  margin-bottom: 1em; }
  #checkout #tile-checkout-info .input-row input {
    display: inline-block; }
  #checkout #tile-checkout-info .input-row [class^=span]:first-child {
    padding-right: .5em; }
  #checkout #tile-checkout-info .input-row [class^=span]:last-child {
    padding-left: .5em; }
  #checkout #tile-checkout-info .input-row button {
    margin-top: 1em;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer; }

@media screen and (max-width: 850px) {
  #checkout #tile-checkout-info .billing-shipping-info {
    width: 100%;
    padding-right: 0;
    border-right: 0;
    margin-bottom: 2em; }
  #checkout #tile-checkout-info .payment-info {
    width: 100%;
    padding-left: 0; } }

#confirm #tile-confirm {
  padding-bottom: 5em; }

#confirm .order-info {
  padding-bottom: 1em;
  margin-bottom: 1em; }

#confirm .order-item {
  display: block;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #cccccc; }
  #confirm .order-item .order-item-price {
    text-align: right; }

#confirm .shipping-info div, #confirm .billing-info div {
  margin-bottom: .25em;
  color: gray; }

#confirm h3 {
  margin-bottom: 1em; }

/*# sourceMappingURL=style.css.map */
