@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800);

$primary: #c31da2;
$secondary: #a4509e;
$accent: #ed39cd;
$sub-header-background: #f4f4f4;
$dark-copy: lighten(black, 20%);

body {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    color: $dark-copy;
    background: darken(white, 3%);
}
.ease {
    transition: all 0.25s ease;
}
.fa-custom{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1em;
    text-align: left;
    display: inline-block;
}
h1 {
    color: lighten(black, 50%);
    font-size: 2.5em;
    margin-bottom: .5em;
    &:last-child{
        margin-bottom: 0;
    }
}
strong {
    font-weight: 700;
}
h2 {
    font-size: 1.75em;
    margin-bottom: .5em;
    &:last-child{
        margin-bottom: 0;
    }
    span{
        display: inline-block;
    }
}
h3 {
    font-size: 1.2em;
    font-weight: 600;
    color: $secondary;
}
h6 {
    span{
        display: inline-block;
    }
}
a {
    text-decoration: none;
    @extend .ease;
    &:hover {
        @extend .ease;
    }
}
section {
    padding: 3em;
}
.secondary-btn{
    background: darken(white, 30%);
    color: white;
    padding: .5em .75em;
    display: inline-block;
    font-size: .9em;
    &:hover{
        background: darken(white, 40%);
    }
}
.primary-btn{
    background: $primary;
    color: white;
    padding: .5em .75em;
    display: inline-block;
    font-size: .9em;
    &:hover{
        background: darken($primary, 10%);
    }
}
p {
    line-height: 1.75em;
    margin-bottom: 1em;
    color: lighten(black, 40%);
    strong{
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.align-right {
    text-align: right;
}
.fixed-container {
    height: auto;
    overflow: hidden;
}
.background-area{
    background: url('../img/wood-background.png');
}
.fixed {
    float: left;
}
.fluid {
    float: none;
    width: auto;
    overflow: hidden;
}
.full {
    width: 100%;
}
.main-cta-btn{
    padding: 1em;
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
    margin: .5em 0;
    color: white;
    background: $accent;
    &:hover{
        background: darken($accent, 15%);
    }
}
.secondary-cta-btn{
    padding: .5em 1em;
    font-size: 1.6em;
    font-weight: 600;
    display: inline-block;
    color: $primary;
    background: white;
    border-radius: 25px;
    &:hover{
        background: darken(white, 10%);
    }
}
// Sticky footer
.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content{
    // min-width: 100%;
    // min-height: 100%;
    // position: relative;
    // top: 0;
    // bottom: 100%;
    // left: 0;
    // z-index: 1;
    flex: 1;
}

// Off canvas mobile navigation
#site-wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
}
#site-canvas{
	width: 100%;
	height: 100%;
	position: relative;
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);

	-moz-transform: translateZ(0) translateX(0);
	-ms-transform: translateZ(0) translateX(0);
	-o-transform: translateZ(0) translateX(0);
	-webkit-transform: translateZ(0) translateX(0);
	transform: translateZ(0) translateX(0);

	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	-moz-transition: 300ms ease all;
	-ms-transition: 300ms ease all;
	-o-transition: 300ms ease all;
	-webkit-transition: 300ms ease all;
	transition: 300ms ease all;

	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	#menu-overlay{
		z-index: 4;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: .5;
		background: black;
		display: none;
	}
}
#site-wrapper.show-nav #site-canvas{
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);

    -moz-transform: translateZ(0) translateX(-250px);
    -ms-transform: translateZ(0) translateX(-250px);
    -o-transform: translateZ(0) translateX(-250px);
    -webkit-transform: translateZ(0) translateX(-250px);
    transform: translateZ(0) translateX(-250px);

    -moz-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
}
#menu-close{
    display: none;
}
#menu-open{
    display: inline-block;
}
#privacy, #terms{
    h2{
        color: $primary;
        margin-top: 1em;
        font-size: 1.25em;
    }
}
.unslider{
    overflow:auto;
    margin:0;
    padding:0
}
.unslider-wrap{
    position:relative
}
.unslider-wrap.unslider-carousel>li{
    float:left
}
.unslider-vertical>ul{
    height:100%
}
.unslider-vertical li{
    float:none;width:100%
}
.unslider-fade{
    position:relative
}
.unslider-fade .unslider-wrap li{
    position:absolute;
    left:0;
    top:0;
    right:0;
    z-index:8
}
.unslider-fade .unslider-wrap li.unslider-active{
    z-index:10
}
.unslider li,.unslider ol,.unslider ul{
    list-style:none;
    margin:0;
    padding:0;
    border:none
}
.unslider-arrow{
    position:absolute;
    left:20px;
    z-index:2;
    cursor:pointer
}
.unslider-arrow.next{
    left:auto;
    right:20px
}
.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}
#attachment-fpc{
    padding: 3em;
    color: white;
    // background: $primary;
    background: lighten(black, 30%);
    // background-image: url('../img/flower-pedals.png');
    background-repeat: no-repeat;
    background-position-y: -10em;
    background-position-x: center;
    position: relative;
    font-size: .8em;
    h5{
        color: white;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: .5em;
    }
    p{
        font-size: 1.2em;
        color: white;
    }
    .product-image{
        position: absolute;
        width: 10.5em;
        top: -15px;
    }
    .offer-info{
        padding-left: 12em;
    }
}
#tile-hero{
    background: white url('../img/orchid-background-2.png');
    background-repeat: no-repeat;
    background-size: 112em;
    background-position-y: -1em;
    background-position-x: -2em;
    .product-image{
        padding-left: 38%;
        display: inline-block;
        float: left;
        width: 39em;
    }
    .hero-copy{
        font-size: .9em;
        h2{
            color: $primary;
            font-weight: 700;
            span{
                display: inline-block;
            }
        }
    }
}
form{
    .input-box{
        &:first-child{
            padding-right: .5em;
        }
        &:last-child{
            padding-left: .5em;
        }
    }
    .input-row{
        margin-bottom: 1em;
        &:last-child{
            margin-bottom: 0;
        }
    }
    label{
        margin-bottom: .5em;
        display: inline-block;
        color: lighten(black, 50%);
        text-transform: uppercase;
    }
    input, textarea, select{
        padding: .5em;
        font-size: 1.25em;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        color: lighten(black, 50%);
        outline: 0;
        border: 1px solid darken(white, 20%);
        border-radius: 3px;
        &[type=submit]{
            background: $secondary;
            color: white;
            border: none;
            font-size: 1em;
            font-weight: 500;
            border-radius: 25px;
            padding: .5em 2em;
            width: initial;
            min-width: initial;
            max-width: initial;
            cursor: pointer;
            @extend .ease;
            &:hover{
                @extend .ease;
                background: darken($secondary, 10%);
            }
        }
    }
    textarea{
        min-height: 12em;
    }
}
.alert{
    padding: 1em;
    margin-bottom: 1em;
    ul{
        margin-left: 1em;
        li{
            margin-bottom: .5em;
            list-style-type: disc;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &.alert-danger{
        border: 1px solid red;
        background: lighten(red, 40%);
    }
    &.alert-success{
        border: 1px solid green;
        background: lighten(green, 70%);
    }
}
select {
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 0;
    outline: 0;
    color: darken(white, 20%);
    border: 0;
    background-image: url("../img/dropdown-icon.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    padding-right: 2em;
}
header {
    #sub-header {
        padding: 0.75em;

        font-size: 0.8em;
        nav {
            text-align: right;
            ul {
                li {
                    display: inline-block;
                    margin-right: 1.5em;
                    a {
                        color: lighten(black, 50%);
                        &:hover {
                            color: lighten(black, 20%);
                        }
                        i {
                            margin-right: 0.25em;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    #main-header {
        padding: 0.6em;
        background: $primary;
        .logo{
            img{
                width: 17em;
            }
        }
        #mobile-nav {
            width: 250px;
            height: 100%;
            position: absolute;
            display: none;
            top: 0;
            right: -250px;
            background: darken(white, 10%);
            padding: 1.5em;
            color: darken(white, 5%);
            box-shadow: inset 8px 0px 12px -6px #000;
            .cart{
                color: $primary;
                margin-bottom: 1em;
                padding-bottom: 1em;
                border-bottom: 1px solid lighten(black, 50%);
                i{
                    margin-right: .25em;
                }
                a{
                    color: $primary;
                    border: 1px solid $primary;
                    padding: .5em;
                    margin-top: .5em;
                    display: block;
                    text-align: center;
                    &:hover{
                        background: $primary;
                        color: white;
                    }
                }
            }
            ul{
                li{
                    margin-bottom: .5em;
                    display: block;
                    a{
                        color: $primary;
                        display: block;
                        padding: .5em;
                        &.active-nav{
                            background: $primary;
                            color: white;
                        }
                    }
                }
            }
        }
        #mobile-nav-btn{
            display: none;
            color: white;
            background: none;
            font-size: 1em;
            cursor: pointer;
            position: fixed;
            top: 5px;
            right: 5px;
            @extend .ease;
            z-index: 98;
            i{
                font-size: 1.8em;
                margin-left: 12px;
            }
            span{
                position: absolute;
                top: 5px;
                left: -55px;
                font-size: 1.2em;
                font-weight: 700;
            }
            &:hover{
                @extend .ease;
            }
        }
        #desktop-nav {
            text-align: right;
            margin-top: .3em;
            ul {
                li {
                    display: inline-block;
                    font-weight: 300;
                    margin-right: -5px;
                    &.accent-nav{
                        overflow: visible;
                        a{

                            color: $accent;
                            background: white;
                            font-weight: 700;

                            &:hover{
                                background: darken(white, 3%);
                                color: darken($primary, 10%);
                            }
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        padding: .65em .75em;
                        color: white;

                        &:hover{
                            background: darken($primary, 5%);
                        }
                        &.active-nav{
                            background: darken($primary, 10%);
                        }
                    }
                }
            }
        }

    }
}
footer{
    #main-footer{
        padding: 2em;
        background: $primary;
        // background: lighten(black, 30%);
        #contact-info{
            float: right;
            span{
                font-weight: 700;
                margin-bottom: .75em;
                color: white;
                font-size: .8em;
                display: inline-block;
            }
            a{
                color: white;
                &:hover{
                    color: darken(white, 20%);
                }
                i{
                    margin-right: .5em;
                }
            }
            ul{
                li{
                    margin-bottom: .5em;
                    font-size: .9em;
                    font-weight: 300;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        nav {
            ul {
                columns: 2;
                 -webkit-columns: 2;
                 -moz-columns: 2;
                li {
                    font-size: 0.8em;
                    text-transform: uppercase;
                    margin-bottom: 0.75em;
                    font-weight: 700;
                    color: white;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: white;
                        &:hover {
                            color: darken(white, 20%);
                        }
                    }
                }
            }
        }
    }
    #sub-footer{
        padding: 1em;
        font-size: .8em;
        color: lighten(black, 50%);
        .disclaimer-text{
            margin-top: 1em;
            p{
                font-weight: 300;
                font-size: .6em;
                margin-bottom: .25em;
                color: darken(white, 30%);
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        span.copy{
            display: inline-block;
            float: right;
        }
        ul{
            display: inline-block;
            li{
                margin-right: 1em;
                padding-right: 1em;
                border-right: 1px solid lighten(black, 50%);
                display: inline-block;
                i{
                    margin: 0 .5em;
                }
                &:last-child{
                    margin-right: 0;
                    border-right: 0;
                    padding-right: 0;
                }
                a{
                    color: lighten(black, 50%);
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    #tile-hero{
        background-size: 179%;
        background-position-x: -4em;
        .product-image{
            width: 13em;
            padding-left: 0;
            margin-left: 18%;
        }
    }
}
@media screen and (max-width: 900px) {
    #tile-hero{
        background-width: 200%;
        .product-image{
            margin-left: 10%;
        }
    }
    footer{
        #main-footer{
            [class^=span]{
                width: 50%;
            }
            #contact-info{
                text-align: right;
            }
        }
        #sub-footer{
            text-align: center;
            span.copy{
                float: none;
                text-align: center;
                display: block;
                margin-top: 1.75em;
            }
        }
    }
}
@media screen and (max-width: 850px) {
    header{
        #main-header{
            #desktop-nav{
                display: none;
            }
            #mobile-nav, #mobile-nav-btn {
                display: block;
            }
        }
        #sub-header{
            display: none;
        }
    }
}
@media screen and (max-width: 800px) {
    #tile-hero{
        background: url('../img/wood-background.png') !important;
        text-align: center;
        .product-image{
            display: inline-block;
            text-align: center;
            width: 15em;
            margin-left: 25%;
        }
    }
}
@media screen and (max-width: 650px) {
    footer{
        #main-footer{
            [class^=span]{
                width: 100%;
            }
            #contact-info{
                margin-top: 1em;
                text-align: left;
            }
        }
    }
    #attachment-fpc{
        .product-image{
            top: 8px;
        }
    }
}
@media screen and (max-width: 600px) {
    #attachment-fpc{
        .product-image{
            display: none;
        }
        .offer-info{
            padding: 0;
            text-align: center;
        }
    }
}
@media screen and (max-width: 500px) {
    header{
        #main-header{
            padding-top: 3em;
            .logo{
                width: 100%;
                text-align: center;
            }
        }
    }
    section{
        padding: 2em 1.5em;
    }
    footer{
        #sub-footer{
            ul{
                li{
                    display: block;
                    border: 0;
                    margin-bottom: .75em;
                    padding-right: 0;
                    margin-right: 0;
                    a{
                        i{
                            display: block;
                            font-size: 2em;
                            margin-top: 1em;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
