#account{
    h3{
        margin-bottom: 1em;
    }
    #tile-account{
        .input-row{
            [class^=span]{
                &:first-child{
                    padding-right: .5em;
                }
                &:last-child{
                    padding-left: .5em;
                }
            }
        }

        #billingHeader {
            float: left;
        }

        #logoutBtn {
            float: right;
        }
    }
    .subscription-status{
        padding-right: 2em;
        .subscription-wrapper{
            // background: white;
            padding: .5em;
            font-size: 1.25em;
            .subscription-name{
                margin-bottom: .5em;
            }
            .subscription-indicator{
                border: 2px solid $primary;
                color: $primary;
                padding: .5em;
                text-align: center;
            }
            .subscription-ends{

            }
        }
    }
    button{
        margin-top: 1em;
    }

    @media screen and (max-width: 900px) {
        #tile-account{
            .input-row{
                [class^=span]{
                    &:first-child{
                        padding-right: 0;
                        margin-bottom: 1em;
                    }
                    &:last-child{
                        padding-left: 0;
                    }
                }
            }
        }
        .container{
            .row{
                [class^=span]{
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

}
