#product{
    #tile-hero{
        background: url('../img/orchid-background-3.jpg');
        background-size: 110em;
        padding-bottom: 3.5em;
        .product-image{
            width: 42em;
        }
        sup{
            font-size: .65em;
        }
        .hero-copy{
            font-weight: 600;
            strong{
                font-weight: 900;
            }
        }
        h2{
            line-height: 1.25em;
        }
    }
    #tile-testimonials{
        position: relative;
        &:before, &:after{
            font-family: 'Times New Roman';
            font-size: 5em;
            color: rgba(255, 255, 255, .5);
            font-weight: 700;
            position: absolute;
        }
        &:before{
            content: "“";
            left: 50px;
            top: 10px;
        }
        &:after{
            content: "”";
            right: 50px;
            top: 10px;
        }
        background: $primary;
        color: white;
        text-align: center;
        font-size: .9em;
        padding: 2em;
        h2{
            color: white;
        }
        span{
            margin-top: 1em;
            float: right;
            font: .9em;
        }
        p{
            color: white;
            position: relative;
            margin-bottom: 0;
        }
        li{
            padding-top: 2em;
            &:first-child{
                padding-top: 0;
            }
        }
    }
    h2{
        color: $primary;
        font-weight: 600;
    }
    #tile-product-info{
        ul{
            margin-left: 9em;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            li{
                font-size: 1em;
                margin-bottom: .5em;
                font-weight: 600;
                color: $primary;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    #tile-tab-info{
        border-top: 1px solid darken(white, 15%);
        padding-bottom: 5em;
        h3{
            margin-bottom: .5em;
            margin-top: 1.5em;
            &:first-child{
                margin-top: 0;
            }
        }
        .tab-content{
            display: none;
        }
        #tab-ingredients{
            .ingredient{
                padding: 1.5em;
                max-height: 15em;
                color: lighten(black, 20%);
                &:last-child{
                    // padding-right: 0;
                }
                img{
                    width: 100%;
                    border: 1px solid darken(white, 10%);
                    -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
                }
                h4{
                    text-align: center;
                    color: $primary;
                    margin-bottom: .5em;
                }
            }
        }
        #tab-description{
            display: block;
            ul{
                columns: 3;
                -webkit-columns: 3;
                -moz-columns: 3;
                li{
                    margin-bottom: .5em;
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
        #tab-faq{
            .question-box{
                h4{
                    background: $primary;
                    color: white;
                    padding: .5em;
                    display: block;
                    cursor: pointer;
                    line-height: 1.5em;
                    @extend .ease;
                    &:hover{
                        background: darken($primary, 10%);
                        @extend .ease;
                    }
                    &:before{
                        @extend .fa-custom;
                        content: '\f0da';
                        color: white;
                    }
                }
                margin-bottom: 1em;
                &:last-child{
                    margin-bottom: 0;
                }
                p{
                    padding: .25em .5em;
                }
                .answer{
                    display: none;
                }
            }
            [class^=span]{
                &:first-child{
                    padding-right: 1.5em;
                }
                &:last-child{
                    padding-left: 1.5em;
                }
            }
            p{
                margin-top: 1em;
            }
        }
    }
    #product-info-tabs{
        background: white;
        margin-bottom: -2px;
        padding-top: 1em;
        nav{
            ul{
                li{
                    display: inline-block;
                    margin-right: 1em;
                    padding: .75em;
                    &:hover{
                    }
                    &.current{
                        background: darken(white, 3%);
                        border: 1px solid darken(white, 15%);
                        border-bottom: 0;
                    }
                    a{
                        color: $secondary;
                    }
                }
            }
        }
    }
    #tile-product-options{
        padding-top: 6em;
        .product-option{
            display: inline-block;
            float: left;
            margin-right: 2%;
            width: 23.5%;
            text-align: center;

            form{
                button.atc-btn{
                    display: inline-block;
                    margin-top: 1em;
                    color: white;
                    background: $primary;
                    padding: .5em 1em;
                    border-radius: 25px;
                    font-weight: 600;
                    font-size: 1em;
                    &:hover{
                        background: darken($primary, 5%);
                    }
                }
            }
            .product-wrapper{
                background: white;
                position: relative;
                padding: 5em 0 1em;
                color: darken(white, 60%);
                -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
            }
            &:last-child{
                margin-right: 0;
            }
            .product-image{
                position: absolute;
                top: -3.55em;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                img{
                    height: 8em;
                }
            }
            .product-name{
                font-weight: 600;
            }
            .product-price{
                padding: .5em 1.5em .25em 1.5em;
                font-size: 2em;
            }
            .product-banner{
                background: $primary;
                padding: .5em;
                color: white;
                margin: 1em 0;
                &.no-banner{
                    background: none;
                    color: darken(white, 60%);
                }
            }
            .product-more{
                font-size: .9em;
                &.special{
                    a{
                        color: darken(white, 60%);
                    }
                }
                a{
                    color: darken(white, 40%);
                    text-decoration: underline;
                    &:hover{
                        color: darken(white, 30%);
                    }
                }
            }
        }
    }


    // Responsive
    @media screen and (max-width: 1200px) {
        #tile-product-options{
            .product-option{
                width: 49%;
                &:nth-child(2), &:last-child{
                    margin-right: 0;
                }
                &:nth-child(3), &:last-child{
                    margin-top: 5em;
                }
            }
        }
        #product-info-tabs{
            .tabs{
                text-align: center;
            }
        }
        #tile-hero{
            .product-image{
                width: 13em;
                display: block;
                margin-left: 35%;
            }
            .hero-copy{
                width: 100%;
                display: block;
                margin-top: 2em;
            }
        }
    }
    @media screen and (max-width: 1050px) {
        #tile-product{
            text-align: center;
            .product-image{
                display: none;
            }
            .product-info{
                width: 100%;
            }
        }
        #product-options{
            .product-option{
                &:nth-child(2), &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    @media screen and (max-width: 950px) {
        #tile-product-info{
            ul{
                margin-left: 0;
            }
        }
    }
    @media screen and (max-width: 850px) {
        #tile-tab-info{
            #tab-faq{
                [class^=span]{
                    width: 100%;
                    &:first-child{
                        padding-right: 0;
                        margin-bottom: 1em;
                    }
                    &:last-child{
                        padding-left: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        #tile-product-options{
            .product-option{
                width: 100%;
                margin-top: 5em;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
        #tile-tab-info{
            #tab-ingredients{
                .ingredient{
                    max-height: none;
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 775px) {
        #tile-product{
            #product-options{
                form{
                    width: 100%;
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 700px) {
        #product-info-tabs{
            .tabs{
                li{
                    font-size: .8em;
                    margin-right: .25em;
                }
            }
        }
    }
    @media screen and (max-width: 650px) {
        #tile-product-info{
            padding-bottom: 3em;
        }
        #tile-hero{
            .product-image{
                margin-left: 20%;
            }
        }
    }
    @media screen and (max-width: 500px) {
        #tile-product{
            #product-options{
                .product-option{
                    width: 100%;
                    margin: 0;
                    margin-bottom: 1em;
                }
            }
        }
        #product-info-tabs{
            nav{
                ul{
                    li{
                        &.current{
                            background: $primary;
                            border: 0;
                            a{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
