.subscription-status{
    display: inline-block;
    float: left;
    margin-right: 2%;
    width: 23.5%;
    text-align: center;

    form{
        button.atc-btn{
            display: inline-block;
            color: white;
            background: $primary;
            padding: .5em 1em;
            border-radius: 25px;
            font-weight: 600;
            font-size: 1em;
            &:hover{
                background: darken($primary, 5%);
            }
        }
    }
    .subscription-wrapper{
        background: white;
        position: relative;
        padding: 1em 0 1em;
        color: darken(white, 60%);
        -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1);
    }
    &:last-child{
        margin-right: 0;
    }
    .subscription-name{
        font-weight: 600;
    }
    .subscription-indicator{
        background: $primary;
        padding: .5em;
        color: white;
        margin: 1em 0;
        &.no-banner{
            background: none;
            color: darken(white, 60%);
        }
    }

    .subscription-ends{
        margin: 1em 0;
    }
}

.user-info-pane {
    margin: .5em;
}

button.atc-btn{
    display: inline-block;
    margin-top: 1em;
    color: white;
    background: $primary;
    padding: .5em 1em;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1em;
    &:hover{
        background: darken($primary, 5%);
    }
}
