#home{
    h1{
        color: $secondary;
        text-align: center;
        font-weight: 700;
        span{
            display: inline-block;
        }
    }
    #tile-lifestyle{
        background: url('../img/yoga-girls.png') center;
        background-position: center;
        background-repeat: no-repeat;
        padding: 30em 0em 4em 0em;
        h1{
            color: white;
            // background: $primary;
            padding: .25em;
            font-size: 3.5em;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.65);
        }
    }
    #tile-cta{
        text-align: center;
        span{
            display: block;
            color: $secondary;
            font-size: .8em;
            font-weight: 700;
        }
        .main-cta-btn{
            padding: 1.25em;
            font-size: 1.75em;
        }
        h3{
            display: inline-block;
            text-align: left;
        }
    }
    .bullet-points{
        float: left;
        display: inline-block;
        margin-top: 6em;
        .bullet-icon{
            background: white;
            color: $secondary;
            border-radius: 25px;
            border: 1px solid darken(white, 20%);
            display: inline-block;
            width: 47px;
            height: 47px;
            padding: .5em;
            margin-right: .5em;
            -webkit-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.17);
            -moz-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.17);
            box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.17);
        }
        li{
            margin-bottom: 1.5em;
            font-weight: 600;
            color: $secondary;
            font-size: 1.2em;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    #tile-clinical-keypoints, #tile-main-keypoints{
        // background: rgba(255, 255, 255, .7);
    }
    #tile-main-keypoints{
        .container{
            padding: 0 0 0 10em;
        }
        p{
            color: $secondary;
            font-weight: 600;
        }
        [class^="span"]{
            &:first-child{
                padding-right: 2em;
                border-right: 1px dashed lighten(black, 80%);
            }
            &:last-child{
                padding-left: 2em;
                text-align: left;
            }
        }
        ul{
            margin-top: 1em;
            li{
                margin-bottom: .65em;
                font-weight: 600;
                font-size: 1.25em;
                color: $accent;
                // &:before{
                //     @extend .fa-custom;
                //     content: "\f00c";
                //     padding-right: .5em;
                //     color: $accent;
                // }
            }
        }
        .main-keypoint{
            margin-bottom: 1.5em;
            h3{
                color: $accent;
                font-size: 1.25em;
                margin-bottom: .15em;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    #tile-clinical-keypoints{
        p{
            color: $secondary;
            font-weight: 600;
        }
        .clinical-keypoint{
            text-align: center;
            img.icon-tulip{
                width: 2.75em;
                margin: 0 auto;
                text-align: center;
            }
            h4{
                text-align: center;
                font-size: 1.5em;
                font-weight: 700;
                margin-bottom: .5em;
                margin-top: .5em;
                color: $secondary;
            }
            p{
                strong{
                    font-weight: 700;
                }
            }
            padding: 0 2em;
            // border-left: 1px dashed lighten(black, 80%);
            // border-right: 1px dashed lighten(black, 80%);
            border-left: 1px solid $primary;
            border-right: 1px solid $primary;
            &:first-child{
                padding-left: 0;
                border-right: 0;
                border-left: 0;
            }
            &:last-child{
                padding-right: 0;
                border-right: 0;
                border-left: 0;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        #tile-hero{
            h1{
                font-size: 1.75em;
            }
        }
        .bullet-points{
            margin-top: 5em;
        }
    }
    @media screen and (max-width: 1100px) {
        #tile-main-keypoints{
            .container{
                padding-left: 3em;
            }
        }
    }
    @media screen and (max-width: 960px) {
        #tile-clinical-keypoints{
            .clinical-keypoint{
                border: 0;
                padding: 0;
                padding-bottom: 1em;
                border-bottom: 1px dashed lighten(black, 80%);
                width: 100%;
                margin-bottom: 1em;
                &:last-child{
                    margin-bottom: 0;
                    border: 0;
                    padding-bottom: 0;
                }
            }
        }
        #tile-cta{
            border-top: 1px solid darken(white, 15%);
            border-bottom: 1px solid darken(white, 15%);
        }
        #tile-lifestyle{
            h1{
                padding: .5em;
                font-size: 1.5em;
                line-height: 1.25em;
                span{
                    display: inline-block;
                }
            }
        }
        .background-area{
            background: none;
        }
    }



    // Responsive
    // @media screen and (max-width: 900px) {
    //     #tile-hero{
    //         background-width: 200%;
    //         .product-image{
    //             margin-left: 10%;
    //         }
    //     }
    // }
    @media screen and (max-width: 800px) {
        #tile-hero{
            .bullet-points{
                margin-top: 0;
                margin-left: 0;
                text-align: center;
                width: 100%;
                margin-bottom: 2em;
            }
        }
        #tile-main-keypoints{
            .container{
                padding-left: 0;
            }
        }
    }
    @media screen and (max-width: 625px) {
        #tile-main-keypoints{
            [class^=span]{
                width: 100%;
                &:first-child{
                    padding-right: 0;
                    border: 0;
                }
                &:last-child{
                    padding-left: 0;
                    margin-top: 1.5em;
                    text-align: center;
                }
            }
            .main-keypoint{
                &:last-child{
                }
            }
        }
        #tile-lifestyle{
            background-position-x: -30em;
        }
    }
    @media screen and (max-width: 600px) {
        #tile-lifestyle{
            padding-top: 37em;
            padding-bottom: 1em;
        }
    }
    @media screen and (max-width: 500px) {
        #tile-hero{
            .bullet-points{
                font-size: .9em;
            }
            .product-image{
                margin-left: 15%;
            }
        }
    }
}
